<head><link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></head>
  <footer>
    <div class="container footer">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Muhammad Fadhiil 2016</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">

          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/muhfadhiil26"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/muhammad.fadhiil"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://github.com/MuhammadFadhiil"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
